*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CONTENEDOR GENERAL*/
.div {
    grid-template-rows: 1fr 9fr 1fr;
    grid-template-areas: 
    "menu"
    "seccion-principal"
    "pie-de-pagina";
}

/* MENU*/
nav{
    grid-area: menu;
    background: purple;
    color: white;
    text-align: center;
}



/*CONTENIDO*/
main {
    grid-area: seccion-principal;
    display: block;
  
}

/* CONTAINER TARJETAS*/
.container-tarjetas{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    justify-items: center
}

.card{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, 1fr);
    box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.2);
    justify-items: center;
}

.card-body{
    height: 70px;
}

.filtros p{
    text-align: center;
}

/* ORDENAR POR FECHA O PRECIO*/

.filtros{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: hsl(310, 33%, 96%);
   
}
.filtros p{
    margin: 10px;
}
.boton{
    margin: 10px;
    height: 40px;
    width: 200px;
}

/* IMAGENES */
img{
    height: 150px;
    width: 250px;
}



/*PIE DE PAGINA*/
footer{
    display: flex;
    flex-direction: column;
    grid-area: pie-de-pagina;
    background: black;
    color: white;
    padding: 95px;
    justify-content: center;
}

.pie-de-pagina i{
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.pie-de-pagina p{
  justify-content: center;
  font-size: small;
}


/* MEDIA */

/* TABLET*/
@media (min-width: 768px) {
    .container-general {
        display: grid;
        grid-template-columns: 200px;
        grid-template-rows: 100px 460px 150px;
        grid-template-areas: 
        "menu   seccion-principal"
        "menu   seccion-principal"
        "menu   seccion-principal"
        "pie-de-pagina seccion-principal";
    }
    .container-tarjetas {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }
    img{
       height: 180px;
       width: 267px;
    }
    .card{
        margin: auto;
    }
}

/* DESKTOP*/
@media (min-width: 1024px) {
    .container-general {
        display: grid;
        grid-template-columns: 200px;
        grid-template-rows: 100px 350px 100px;
        grid-template-areas: 
        "menu   seccion-principal"
        "menu   seccion-principal"
        "pie-de-pagina seccion-principal";
    }
    .container-tarjetas {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }
    img{
       height: 180px;
       width: 267px;
    }
    .card{
        margin: auto;
    }
    
}

